.containerInfo {
  background: white;
  box-shadow: rgba(48, 48, 48, 0.1) 0px 0.25rem 0.5rem;
}

.titleHotel {
  color: #e26811;
  /* color: rgb(128, 15, 113); */
  font-size: 28px;
  font-weight: bold;
}

.descriptionHotel {
  font-size: 16px;
}

.coutryCityHotel,
.priceHotel {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}

.containerButton {
  display: flex;
  gap: 0.8rem;
  background-color: #ffffff;
  border: none;
}
.buttonCardHotel {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e26811;
  width: 120px;
}

.buttonCardHotel:hover {
  color: #e26811;
  border: 1px solid #e26811;
}
