.container {
  background: white;
  box-shadow: rgba(16, 15, 15, 0.1) 8px 0.25rem 0.5rem;
  padding: 20px;
  margin: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
}

.detailImage {
  border-radius: 10px;
  border: 2px solid red;
}

.buttonCardHotel {
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #e26811;
  width: 120px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.buttonSecondary {
  font-size: 12px;
  font-weight: bold;
  color: #e26811;
  background-color: white;
  border: #e26811 solid 1px;
  width: 120px;
}

.buttonCardHotel:hover {
  color: #e26811;
  border: 1px solid #e26811;
}
