.containerMenu {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
  background-color: rgba(80, 78, 78, 0.85);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem 1rem;
  padding: 0.6rem 1rem;
}

.menuTitle {
  font-size: 1.6rem !important;
  color: var(--primarytexcolor);
}

.contentOptionMenu {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
  text-decoration: none;
}

.labelMenu {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
}
.labelMenu:hover {
  color: #e26811;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menuTitle {
    font-size: 2.2rem !important;
  }

  .labelMenu {
    font-size: 1.4rem;
  }
}
